* {
    margin: 0;
}

.box-a {
    background-color: orange;
    display: inline;
}

.box-b {
    background-color: lightblue;
    display: inline;
}

.box-c {
    background-color: lightcoral;
    display: inline;
}

.container {
    display: flow-root;
    border: 1px solid #000;
}

.container-two {
    display: flex;
    border: 1px solid #000;
}