.media {
    display: flex;
    align-items: center;
}
.media__img-wrapper {
    flex: 0 1 27.58333%;
    margin-right: 3.33333%;
}
.media__img {
    width: 100%;
}
.media__body {
    flex: 1;
}
/* 最後の要素の余白をリセットする */
.media__body > *:last-child {
    margin-bottom: 0;
}
.media__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-weight: bold;
}
/* メディアクエリ適用時 */
@media (max-width: 768px) {
    .media {
        display: block;
    }
    .media__img-wrapper {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
